<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Formulario</title>
</head>

<body>

    <form action="">
        <h1> Formulario Asistente</h1>
        <div class="form-group">
            <p>
                <label for="exampleFormControlInput1"> Nombres </label>
            </p>
            <input type="name" class="name" placeholder="&#10037; nombre">


            <p>
                <label for="exampleFormControlInput1"> Apellidos </label>
            </p>
            <input type="name" class="name" placeholder="&#10037; Apellidos">
            <br>
            <br>

            <p>
                <label for="exampleFormControlInput1"> telefono </label>
            </p>
            <input type="name" class="name" placeholder="&#9742; telefono">
            <br>
            <br>

            <p>
                <label for="exampleFormControlInput1"> email </label>
            </p>
            <input type="email" class="name" placeholder="&#9993; exm:joel@gmail.com" padding="10px;">
            <br>
            <br>

            <p>
                <label for="exampleFormControlInput1"> ubicacion </label>
            </p>
            <input type="email" class="name" placeholder="&#9991; ubicacion">

        </div>
        <br>
        <p class="center-content">
            <input type="button" class="btn btn-green" value="Confirmar">
            <input type="button" class="btn btn-red" (click)="regresar()" value="Regresar">
        </p>

    </form>
</body>

</html>
