<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Editar</title>
</head>

<body>
    <h1>Editar</h1>
    <div class="contenedor">
        <!-- <app-editar [item]="item"></app-editar> -->
        <label for="id">id</label>
        <input type="number" id="id" [(ngModel)]="actualizar" name="id">
        <br>
        <br>
        <label for="nombre">nombre</label>
        <input type="text" id="nombre" [(ngModel)]="actualizar" name="nombre">
        <br>
        <br>
        <label for="direccion">direccion</label>
        <input type="text" id="direccion" [(ngModel)]="actualizar" name="direccion">
        <br>
        <br>
        <button value="Guardar" title="Guardar" (click)="editData()">Guardar
          </button>
    </div>
</body>

</html>