<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Editar</title>
</head>

<body>
    <h1>Editar</h1>
    <form [formGroup]="editarForm">
        <div class="contenedor">
            <tr *ngFor="let item of respuesta">
                <!-- <label for=" id ">id</label>
                <input type="number " value="{{ item.id }}"> -->
                <br>
                <br>
                <label for="nombre ">nombre</label>
                <input formControlName="nombre" type="text " id="nombre " name="nombre " [(ngModel)]="item.nombre">
                <br>
                <br>
                <label for="direccion ">direccion</label>
                <input formControlName="direccion" type="text " id="direccion " name="direccion" [(ngModel)]="item.direccion">
                <br>
                <br>
                <button value="Guardar " title="Guardar " (click)="editData(item.id) ">Guardar
        </button>
            </tr>
        </div>
    </form>
</body>

</html>