<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <form class="joel">
        <h1> Formulario Ponentes</h1>
        <div class="form-group">
            <div class="form-group">
                <img src="../assets/img/darius.jpg">
                <br>
                <input type="file" class="imagenes">
            </div>
            <label for="exampleFormControlInput1"> Nombres </label>
            <br>
            <input type="name" class="name" placeholder="&#10037;">
            <br>
            <br>
            <label for="exampleFormControlInput1"> Apellidos </label>
            <br>
            <input type="name" class="name" placeholder="&#10037;">
            <br>
            <br>
            <div class="word">
                <label for="exampleFormControlInput1"> empresa </label>
                <br>
                <input type="name" class="name" placeholder="&#10037;">
                <br>
                <br>
                <label for="exampleFormControlInput1"> email </label>
                <br>
                <input type="email" class="name" placeholder="&#9993; exm:joel@gmail.com" padding="10px;">
                <br>
                <br>
                <label for="exampleFormControlInput1"> telefono </label>
                <br>
                <input type="email" class="name" placeholder="&#9742; telefono">
                <br>
                <br>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <p class="center-content">
            <input type="button" class="btn btn-green" value="Confirmar">
            <input type="button" class="btn btn-red" (click)="regresar()" value="Regresar">
        </p>
    </form>
</body>

</html>
