<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Crear</title>
</head>

<body>
    <h1>Crear</h1>
    <div class="contenedor">
        <label for="id">id</label>
        <input type="number" id="id" [(ngModel)]="congreso.id" name="id">
        <br>
        <br>
        <label for="nombre">nombre</label>
        <input type="text" id="nombre" [(ngModel)]="congreso.nombre" name="nombre">
        <br>
        <br>
        <label for="direccion">direccion</label>
        <input type="text" id="direccion" [(ngModel)]="congreso.direccion" name="direccion">
        <br>
        <br>
        <button value="Guardar" title="Guardar" (click)="postData()">Guardar
          </button>
    </div>
</body>

</html>