$fondos: true !default;
$fondos-colors:( azul: #0829F9, rojo: #F92C08, verde: green, amarillo: yellow);
// -------------------------Formulario-------------------------------------------
$primary: #303F9F;
$light-primary: #BBDEFB;
$white: #f2f2f2;
$divider: #B6B6B6;
$error: #D32F2F;
$border: 2px;
$font-family: "Roboto",
Arial;