<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Inicio</title>
</head>
<table class="tablas">
    <tr>
        <th><button type="button">Contactanos</button></th>
    </tr>
</table>

<body>
    <div class="c-img">

        <img src="../../assets/img/1.jpg" alt="imagen 1">
        <div class="informacion">
            <button type="button">Informacion</button>
        </div>
        <div class="text">
            <h1>Congreso Instituto tecnologico Superior Yavirac</h1>

        </div>

        <div class="botones">
            <th>
                <button type="button" (click)="inscripciones()">Inscripciones</button>
            </th>
            <button type="button" (click)="ponencias()">Ponencias</button>
            <th>
                <button type="button">Cronograma</button>
            </th>
        </div>
    </div>

</body>


</html>
